@import url('https://rsms.me/inter/inter.css');

/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  font: inherit;
  font-size: 100%;

  margin: 0;
  padding: 0;

  vertical-align: baseline;

  border: 0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}


/* #Basic Styles
================================================== */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
  'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
  'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;

  padding-bottom: 4rem;

  letter-spacing: -.011em;

  color: #111;
  background-color: #fff;

  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
}

header {
  font-size: 15px;

  position: fixed;
  top: 1rem;
  left: 1rem;

  padding: 1rem;

  border-radius: 10px;
  background-color: #f5f5f5;
}

.green-square {
  display: block;

  width: 30px;
  height: 30px;

  content: '';
  transition: -webkit-transform 125ms cubic-bezier(.77, 0, .175, 1);
  transition:         transform 125ms cubic-bezier(.77, 0, .175, 1);
  transition:         transform 125ms cubic-bezier(.77, 0, .175, 1), -webkit-transform 125ms cubic-bezier(.77, 0, .175, 1);

  border: none;
  background-color: rgb(51, 204, 199);
}

.green-square:hover, .green-square:focus, header .name:hover, header .name:focus {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

header .main {
  display: flex;
  align-items: center;
  flex-flow: wrap;
  flex-direction: row;

  margin-bottom: 1rem;
}

header .name {
  font-size: 30px;
  font-weight: 900;

  margin: 0 10px;

  transition: -webkit-transform 125ms cubic-bezier(.77, 0, .175, 1);
  transition:         transform 125ms cubic-bezier(.77, 0, .175, 1);
  transition:         transform 125ms cubic-bezier(.77, 0, .175, 1), -webkit-transform 125ms cubic-bezier(.77, 0, .175, 1);
}

header .description {
  font-style: italic;
  line-height: 1.2;

  max-width: 180px;
  margin: .2rem 0 0;

  opacity: .75;
}

header a {
  font-weight: 700;

  padding: 0;

  color: #111;
  background-color: transparent;
}

header ul {
  margin: 0;

  list-style: none;
}

header li {
  display: block;

  margin: .5rem;
}

header li:before {
  margin-right: 2px;

  vertical-align: top;

  color: #111;
}
header ul li:nth-of-type(1):before {
  content: '⏳';
}
header ul li:nth-of-type(2):before {
  content: '👎';
}
header ul li:nth-of-type(3):before {
  content: '✍️';
}
header ul li:nth-of-type(4):before {
  content: '👨🏻‍💻';
}
header ul li:nth-of-type(5):before {
  content: '💼';
}
header ul li:nth-of-type(6):before {
  content: '🦋';
}
header ul li:nth-of-type(7):before {
  content: '📬';
}
header ul li:nth-of-type(8):before {
  content: '📬';
}

header a:hover, header a:active, header a:focus {
  text-decoration: none;

  color: rgb(51, 204, 199);
}



nav {
  width: 100%;
  margin: 1rem auto;

  text-align: center;
}

nav a {
  margin: 1rem;
}

.main-content {
  width: 100%;
  max-width: 580px;
  margin: 0 auto 2rem;
  padding: 1em;
}

.flex-container {
  display: flex;
  flex-direction: column;

  max-width: 580px;
  margin: 0 auto;
}

@media only screen and (max-width: 1200px) {
  header {
    position: relative;
    top: 0;
    left: 0;

    width: 100%;
    max-width: 400px;
    margin: 1rem auto;
  }

  header .main {
    margin-bottom: .75rem;
  }

  header .description {
    display: inline-block;

    max-width: none;
  }

  header li {
    display: inline-block;

    margin: .25rem .5rem;
  }
}

@media only screen and (max-width: 420px) {
  header {
    width: auto;
    margin: 1rem;
  }
}



/* #Typography
================================================== */
h1, h2, h3 {
  font-weight: 900;
  line-height: 1.2;

  letter-spacing: -.011em;

  color: #111;
}

h1 {
  font-size: 2.125rem;

  margin: 1.5rem 0;
}

h2 {
  font-size: 1.5rem;

  margin: 1.5rem 0 .5rem;
}

h3 {
  font-size: 1.125rem;

  margin: 1.5rem 0 .5rem;
}

a {
  padding: 0 4px;

  text-decoration: none;

  color: rgb(51, 204, 199);
  border-radius: 5px;
  background-color: hsla(147, 50%, 60%, .1);
}

a:hover, a:focus {
  text-decoration: underline;
}

a:not([href*='']):not([href^='#']):not([href^='/']):after {
  font-size: .7rem;
  font-weight: 500;
  line-height: 1;

  margin-left: 1px;

  content: '↗';
  vertical-align: text-top;

  opacity: .5;
}

p {
  margin: .25rem 0 1.5rem;
}

.center {
  text-align: center;
}

em {
  font-style: italic;
}
strong, .bold {
  font-weight: 900;
}
.underline {
  text-decoration: underline;
}

ul {
  margin: .25rem 2rem 3rem;

  list-style: square outside none;
}
ol {
  margin: .25rem 2rem 3rem;

  list-style: decimal outside none;
}
li {
  margin: .5rem 0;
}
ul.inline li {
  display: inline;
}

img {
  display: block;

  max-width: 100%;
  height: auto;
  margin: 1em auto;

  border: 2px solid #111;
  border-radius: 10px;
}

small, .small {
  font-size: 12px;
  font-style: italic;

  opacity: .65;
}

blockquote {
  font-size: 1.2rem;
  font-weight: 200;
  font-style: italic;

  width: 85%;
  margin: 0 auto 1rem;
  padding: .5rem 1.75rem .5rem 1rem;

  quotes: '\201C''\201D''\2018''\2019';

  color: #111;
  border-left: 4px solid rgb(51, 204, 199);
  background-color: hsla(147, 50%, 60%, .1);
}

blockquote strong, blockquote b {
  font-weight: 900;
  font-style: normal;
}
article blockquote p {
  margin-bottom: 0;
}

hr {
  clear: both;

  width: 75%;
  height: 0;
  margin: 2.5rem auto;

  border: none;
  border-top: 1px solid rgba(33,33,33,.15);
}

header hr {
  margin: 1rem auto;
}

.float-right {
  float: right;
}

::-moz-selection {
  color: #111;
  background-color: hsla(147, 50%, 60%, .25);
}

::selection {
  color: #111;
  background-color: hsla(147, 50%, 60%, .25);
}
::-moz-selection {
  color: #111;
  background-color: hsla(147, 50%, 60%, .25);
}


/*
  Homepage styles
*/

.home-post-list {
  display: inline-flex;
  flex-flow: column;
  flex-wrap: nowrap;
  align-items: flex-start;
}

.home-post-list a {
  margin: 0 0 .5rem;
}

.post-list {
  width: 100%;
  max-width: 580px;
  margin: 2rem auto;
  padding: 0 .5rem;
}

.post-list a {
  display: block;

  margin-bottom: 3rem;
  padding: .5rem;

  background-color: #fff;
}

.post-list .excerpt {
  margin-bottom: .5rem;
  text-align: left;
}

.post-list a p:last-of-type {
  margin-bottom: 0;
}

.post-list .title {
  display: block;

  margin-top: 0;

  color: rgb(51, 204, 199);
}

.post-list a p {
  color: #111;
}

.post-list a:hover, .post-list a:focus, .post-list a:active {
  text-decoration: none;

  color: rgb(51, 204, 199);
  background-color: hsla(147, 50%, 60%, .1);
}

.post-list a:hover .title, .post-list a:focus .title, .post-list a:active .title {
  text-decoration: underline;
}


/*
  Post styles
*/


article p {
  margin-bottom: 1.5rem;
}

article h2, article h3 {
  margin-top: 3rem;
}

.post-title {
  width: 96%;
  max-width: 580px;
  margin: 4rem auto 0;
  padding: 0 .2em;
}


/*
  Mailchimp form
*/

input {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
  'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
  'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;

  padding: .5rem 1rem;

  letter-spacing: -.011em;

  color: #111;
  border: 2px solid #111;
  border-radius: 5px;
  background-color: #fff;

  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -webkit-appearance: none;
     -moz-appearance: none;
}

input:focus, input:hover, input:active {
  border-color: rgb(51, 204, 199);
}

.newsletter-container {
  font-size: 15px;

  max-width: 580px;
  margin: 5em auto;
  padding: 1rem;

  color: #fff;
  border-radius: 10px;
  background-color: #111;
}

@media only screen and (max-width: 600px) {
  .newsletter-container {
    margin: 2em 1rem;
  }

  .home-post-list {
    flex-flow: column;
  }

  .home-post-list a {
    display: inline-block;

    width: -webkit-fit-content;
    width:    -moz-fit-content;
    width:         fit-content;
  }
}

.newsletter-container h2 {
  margin-top: 0;

  color: #fff;
}

.newsletter-signup {
  display: flex;
  flex-flow: row wrap;

  width: 100%;
  margin: 1em auto 0;
  padding: 0;

  text-align: center;
}

.newsletter-signup input[type='text'], .newsletter-signup input[type='email'] {
  font-weight: 900;

  flex: 2 auto;

  margin-right: 10px;

  vertical-align: baseline;

  color: #fff;
  border-color: #fff;
  border-radius: 5px;
  outline: none;
  background-color: #111;
}

.newsletter-signup input[type='text']:focus, .newsletter-signup input[type='email']:focus, .newsletter-signup input[type='text']:hover, .newsletter-signup input[type='email']:hover, .newsletter-signup input[type='text']:active, .newsletter-signup input[type='email']:active {
  border-color: rgb(51, 204, 199);
  background-color: rgb(51, 204, 199);
}

.newsletter-signup input[type='submit'] {
  font-weight: 900;

  flex: 1 auto;

  cursor: pointer;

  color: #111;
  border: none;
  border-radius: 5px;
  background-color: #fff;
}

.newsletter-signup input[type='submit']:focus, .newsletter-signup input[type='submit']:hover {
  opacity: .85;
  transform: translateY(-2px);
}

.newsletter-signup input[type='submit']:active {
  opacity: .65;
  transform: translateY(1px);
}

::-webkit-input-placeholder {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
  'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
  'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;

  color: rgba(255,255,255,.5);
}
::-moz-placeholder {
  /* Firefox 19+ */
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
  'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
  'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;

  color: rgba(255,255,255,.5);
}
:-ms-input-placeholder {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
  'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
  'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;

  color: rgba(255,255,255,.5);
}
:-moz-placeholder {
  /* Firefox 18- */
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
  'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
  'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;

  color: rgba(255,255,255,.5);
}
